body {
  margin: 0

}

.nav ul {
  list-style-type: none;
  overflow: hidden;
}

.nav h6 {
  text-transform: uppercase;
}

.nav li {
  text-transform: uppercase;
}

.nav li a {
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 25px;
  float: right;
}

.mastercontainer {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 80%;
}

.container1, .container2, .container3, .container4, .container5 {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
}

.box1 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  text-align: center;
  border-color: #000000;
  border-width: 2px;
  border-style: dashed;
  border-bottom: none;
  width: 250px;
  height: 60px;
  vertical-align: top;
  background-color: #e4e0ff;
}

.box1 p2 {
  font-weight: bold;
}

.box2 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  text-align: center;
  border-color: #000000;
  border-width: 2px;
  border-style: dashed;
  width: 125px;
  height: 60px;
  vertical-align: top;
  background-color: #e4e0ff;
}

.box2 p1 {
  font-weight: bold;
}

.box2 p2 {
  font-weight: normal;
}

.box2 p3 {
  font-weight: normal;
}

.box3 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  text-align: center;
  margin-left: -4px;
  border-color: #000000;
  border-width: 2px;
  border-style: dashed;
  width: 125px;
  height: 60px;
  vertical-align: top;
  background-color: #e4e0ff;
}

.box3 p1 {
  font-weight: bold;
}

.sMasterContainer {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.scontainer1, .scontainer2, .scontainer3 {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 300px;
}

.sbox1 {
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
  border-color: #000000;
  border-width: 2px;
  border-style: dashed;
  border-bottom: none;
  width: 250px;
  height: 150px;
  vertical-align: top;
  background-color: #e4e0ff;
}

.sbox1 p2 {
  font-weight: bold;
}

.sbox2 {
  font-family: sans-serif;
  border-color: #000000;
  border-width: 2px;
  border-style: dashed;
  width: 250px;
  height: 150px;
  vertical-align: top;
  background-color: #e4e0ff
}

.sbox2 p1, p2, p3 {
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
  font-size: 12px;
}

.sbox2 a {
  font-size: 12px
}

.cMasterContainer {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.ccontainer1, .ccontainer2, .ccontainer3, .ccontainer4, .ccontainer5 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding-top: 20px;
  width: 475px;
}

.cbox1 {
  font-family: sans-serif;
  width: 200px;
  height: 80px;
  border-style: dashed;
  border-right: dashed;
  border-width: 2px;
  border-color: #000000;
  vertical-align: top;
  background-color: #e4e0ff;
}

.cbox1 p1 {
  padding-left: 30px;
  font-size: 13px;
}

.cbox2 {
  font-family: sans-serif;
  width: 200px;
  height: 80px;
  border-style: dashed;
  border-left: none;
  border-width: 2px;
  border-color: #000000;
  vertical-align: top;
  background-color: #e4e0ff;
}
